@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.textoComum {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-size: 18px;
}
.logoGoogle {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

.inputSearch {
  display: flex;
  vertical-align: center;
  align-self: center;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border-color: transparent;
  width: 90%;
  font-size: 16px;
  background-color: white;
}
.inputSearch:hover {
  background-color: white;
  border-color: transparent;
}
.inputSearch:current {
  background-color: white;
  border-color: transparent;
}

.fa {
  font-size: 15px;
  border-radius: 50%;
  padding: 4px;
  background-color: rgba(141, 141, 141, 0.644);
}
.fa:hover {
  background-color: rgba(141, 141, 141, 0.5);
}
.searchform {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  text-align: left;
}

.searchBox {
  width: 35%;
  display: block;
  /* max-width: 60px;
  min-width: 15%; */
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 16px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  min-height: 44px;
  text-indent: 20px;
  order: 2;
}
